$white-color: #ffffff;
$black-color: #000000;

$header-bg-color: #262626;
$header-left-anchor-color: #ee9617;

$banner-bg-color: #595959;
$thick-red-color: #d44800;
$banner-right-border-color:rgba(254 88 88 / 25%);

$hr-line-color: rgba(0, 0, 0, 0.25);

$dark-black: #160637;
$light-red: #fe5858;
$light-grey: #8989a2;

$box-shadow-color:rgb(0 0 0 / 16%);
$bg-linear-gradient: linear-gradient(250deg, #ee9617 0%, $light-red 100%);

$question-section-border-color: #ee9617;
$light-blue: #01245B;
$grey-color: #6c6c6c;